//Colors
$grey_text: #888888;
$dark_text: #333333;
$light_gray: #ebebeb;
$light_red: #ff905a;
$faded_white: #f1f1f1;
$pink_heart: #f41cb2;
$footer_gray: #f7f8fa;
$primary_text: #f96e89;
$social_icons: #d0d0d0;
$black: #000;
$white: #fff;
$gray: #ccc;
$smoke: #e2e2e2;
$disable: #f2f2f2;
$dark-gray: #333447;
$success_green: #71bb7a;
